/*this is css reset*/
/*css reset*/
*{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

html {
    -webkit-text-size-adjust: 100%;
    position: relative;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

del {
    text-decoration: line-through;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

q:before, q:after {
    content: '';
}

div:focus {
    outline: none;
}

/*css reset*/

.displayNone {
    display: none !important;
}

/*it's easy to use flex box to style the page. It's introduced in CSS3. Pay attention to the prefix '-webkit-',
  it indicates that the following css support webkit browser which almost all the smart phone browsers are using,
  Chrome desktop version is also using this. You can find prefix for firefox desktop version.
  here is a good guide you can learn flex box : https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
.flexBoxH {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.flexBoxV {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

body {
    padding-top: 2rem;
}

.container .title {
    margin-bottom: 2rem;
    /*change this to margin-right if you want to align Horizontally*/
    /*margin-right: 2rem;*/
}