body{
	height:100%;
	width:100%;
	background:pink;
}

.slider{
	top:0%;
    height:200px;
	background-color:yellow;
}

.info{
	position:relative;
	top:100px;
}

.flexBox{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
   	align-items:stretch;
}

.indoor{
	display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.outdoor{
	display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}


li {
  list-style-type:none;
  margin:auto 10px; 
}

.indoor > li
{
	margin-right: 4px;
	font-size: 30px;
	width:100px;
	height:115px;
 	line-height: 115px;
 	text-align: center;
}

.outdoor > li
{
	margin-right: 4px;
	font-size: 30px;
	width:100px;
	height:115px;
 	line-height: 115px;
 	text-align: center;
}


.indoor .temperature
{

	background: url("../image/indoorTemperature.png") no-repeat;
}

.indoor .humidity
{

	background: url("../image/indoorHumidity.png") no-repeat;
}
.indoor .pm2_5
{

	background: url("../image/indoorPM2_5.png") no-repeat;
}
.indoor .co2
{

	background: url("../image/indoorCO2.png") no-repeat;
}

.outdoor .temperature
{

	background: url("../image/outdoorTemperature.png") no-repeat;
}

.outdoor .humidity
{

	background: url("../image/outdoorHumidity.png") no-repeat;
}
.outdoor .pm2_5
{

	background: url("../image/outdoorPM2_5.png") no-repeat;
}
.outdoor .co2
{

	background: url("../image/indoorCO2.png") no-repeat;
}


.adsWrapper{
	position:relative;
	top:150px;
}

.ads
{
    flex: 1;
    display: flex;
    overflow: auto;
}

.adImages
{
	width: 300px; 
    height: 300px;
    overflow: hidden; 
}

.about
{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
